<?xml version="1.0"?>
<ruleset name="Be Right Back">
	<description>Coding standards for the Be Right Back plugin.</description>

	<file>.</file>
	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/node_modules/*</exclude-pattern>
	<exclude-pattern>/tests/*</exclude-pattern>
	<exclude-pattern>/db-error.php</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg name="colors"/>
	<arg value="sp"/>
	<arg name="parallel" value="8"/>

	<config name="minimum_wp_version" value="6.0"/>
	<config name="testVersion" value="7.4-"/>

	<rule ref="WordPress"/>
	<rule ref="PHPCompatibilityWP"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="be-right-back"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="be_right_back"/>
				<element value="BeRightBack"/>
				<element value="BE_RIGHT_BACK"/>
			</property>
		</properties>
	</rule>
</ruleset>
